<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading problems...</p>
</div>

<div *ngIf="!isLoading">
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="wrap">
        <p class="problems-list-title">Tour Problems</p>
        <div *ngIf="totalPages!=0" id="prev">
            <button (click)="goToPreviousPage()" [disabled]="currentPage === 0">prev</button>
            <span>Page {{ currentPage + 1 }} / {{ totalPages }}</span>
            <button (click)="goToNextPage()" [disabled]="(currentPage + 1) * pageSize >= entities.length">next</button>
        </div>

        <table id="t">
            <tr id="head">
                <th>Priority</th>
                <th>Problem sender</th>
                <th>Tour</th>
                <th>Problem category</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            <tr tabindex="0" *ngFor="let item of displayedEntities" id="ag"
                (click)="goToProblem(item.id, getById(item.tourId), item)"
                [ngStyle]="{ 'background-color': isOverdue(item) ? 'red' : '#34AB45' }">

                <td>{{item.details.problemPriority}}</td>
                <td>{{ usernamesMap.get(item.touristId) }}</td>
                <td>{{getById(item.tourId)}}</td>
                <td>{{ getEnum(item.details.category) }}</td>
                <td>
                    <p>{{ getDate(item.details.time) }}</p>
                </td>
                <td>
                    <p>{{ getTime(item.details.time) }}</p>
                </td>


            </tr>

        </table>
        <div id="pop" *ngIf="flag">
            <div class="popup-content">
                <button mat-button id="iks" (click)="close()">X</button>
                <button mat-raised-button class="pop-button" (click)="seeProb()">See problem</button>
                <button mat-raised-button class="pop-button" (click)="solve()">Mark as solved</button>
            </div>
        </div>
        <div id="pop2" *ngIf="flag2">
            <div class="popup-content2">
                <button mat-button id="iks" (click)="close()">X</button>
                <mat-form-field appearance="outline">
                    <mat-label>Comment</mat-label>
                    <textarea matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    [(ngModel)]="comm.content"
                    cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <button mat-raised-button class="pop-button" (click)="finalSolve()">Mark as solved</button>
            </div>
        </div>
        <div id="pop3" *ngIf="flag3">
            <div class="popup-content3">
                <button mat-button id="iks" (click)="close()">X</button>
                <button mat-raised-button class="pop-button" (click)="seeProb()">See problem</button>
                <button mat-raised-button class="pop-button" (click)="deadline()">Set deadline</button>
            </div>
        </div>
        <div id="pop4" *ngIf="flag4">
            <div class="popup-content4">
                <button mat-button id="iks" (click)="close()">X</button>
                <mat-form-field appearance="outline">
                    <mat-label for="dateInput">Choose date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" id="dateInput" name="selectedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label for="timeSelect">Choose a time</mat-label>
                    <mat-select [(ngModel)]="selectedTime" id="timeSelect" name="selectedTime">
                        <mat-option *ngFor="let time of times" [value]="time">{{ time }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button class="pop-button" (click)=deadlineSet()>Set deadline</button>
            </div>
        </div>


    </div>
</div>