<form [formGroup]="equipmentForm" class="equipment-form">
    <div>
        <h2>Add equipment</h2>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    <button *ngIf="!shouldEdit" color="button" type="submit" (click)="addEquipment()" mat-raised-button>Done</button>
    <button *ngIf="shouldEdit" color="button" type="submit" (click)="updateEquipment()" mat-raised-button>Done</button>
    </div>
</form>