<div>
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="problem"> 
        <p class="problem-title">Tour Problem</p>
        <hr>
        <div>
            <div id="problem-details">
                <div class="card-container">
                    <div class="card">
                        <div class="card-content">
                            <h3>{{getById(problem.tourId)}}</h3>
                            <p>{{ getStatusEnum(problem.status)}}</p>
                            <p><strong>Priority:</strong> 
                                {{ problem.details.problemPriority  }}
                            </p>
                            <p><strong>Category:</strong> 
                                {{ getEnum(problem.details.category) }}
                            </p>
                            <p><strong>Time:</strong> 
                                {{ getDate(problem.details.time ) }} {{ getTime(problem.details.time ) }}
                            </p>
                            <p><strong>Sent by:</strong> 
                                {{username}}
                            </p>
                            <div class="explanation-box">
                                <strong>Explanation:</strong>
                                <p>{{ problem.details.explanation }}</p>
                            </div>
                        </div>
                        <div class="card-actions">
                            <button *ngIf="user?.role === 'administrator'" color="button" (click)="closeTour()" [disabled]="closeTourFlag == 'disabled'" mat-raised-button>Close tour</button>
                            <button *ngIf="user?.role === 'administrator'" color="button"  (click)="closeTourProblem()" [disabled]="closeProblemFlag == 'disabled'" mat-raised-button>Close problem</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <h3>Conversation:</h3>
                            <div class="chat-box">
                                <div id="text">
                                    <div  *ngIf="user?.role === 'administrator'" >
                                        <div *ngFor="let item of authorComments" >
                                            <p id="maloP">author</p>
                                            <p id="p8">{{item.content}}</p>
                                        </div>
                                    </div>
                                    <div  *ngIf="user?.role === 'administrator'" >
                                        <div *ngFor="let item of touristComments" >
                                            <p id="maloP2">tourist</p>
                                            <p id="p55">{{item.content}}</p>
                                        </div>
                                    </div>
                                    <div  *ngIf="user?.role === 'administrator'" >
                                        <div *ngFor="let item of adminComments" >
                                            <p id="p5">{{item.content}}</p>
                                        </div>
                                    </div>
    

                    
                                    <div  *ngIf="user?.role === 'author'" >
                                        <div *ngFor="let item of adminComments" >
                                            <p id="maloP">administrator</p>
                                            <p id="p8">{{item.content}}</p>
                                        </div>
                                    </div>
                                    <div  *ngIf="user?.role === 'author'" >
                                        <div *ngFor="let item of touristComments" >
                                            <p id="maloP2">tourist</p>
                                            <p id="p55">{{item.content}}</p>
                                        </div>
                                    </div>
                                    <div  *ngIf="user?.role === 'author'" >
                                        <div *ngFor="let item of authorComments" >
                                            <p id="p5">{{item.content}}</p>
                                        </div>
                                    </div>
                    
                    
                                    <div  *ngIf="user?.role === 'tourist'" >
                                        <div *ngFor="let item of adminComments" >
                                            <p id="maloP">administrator</p>
                                            <p id="p8">{{item.content}}</p>
                                        </div>
                                    </div>
                                    <div  *ngIf="user?.role === 'tourist'" >
                                        <div *ngFor="let item of authorComments" >
                                            <p id="maloP2">author</p>
                                            <p id="p55">{{item.content}}</p>
                                        </div>
                                    </div>
                                    <div  *ngIf="user?.role === 'tourist'" >
                                        <div *ngFor="let item of touristComments" >
                                            <p id="p5">{{item.content}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="typing">
                                <mat-form-field appearance="outline">
                                    <input matInput [(ngModel)]="comm.content" placeholder="Type your comment"/>
                                </mat-form-field>
                                <button color="primary" class="send-button" [disabled]="comm.content === ''" (click)="makeComment()" mat-icon-button matTooltip="Send message">
                                    <img src="assets/icons/send.png" alt="Send Icon"/>
                                </button>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


