#imgb {
  position: fixed;  /* Postavlja sliku fiksiranu u odnosu na ekran */
  top: 0;
  left: 0;
  height: 100%;  /* Pokriva celu visinu ekrana */
  width: 100%;   /* Pokriva celu širinu ekrana */
  object-fit: cover;  /* Pokriva ceo ekran, zadržavajući proporcije slike */
  z-index: -1;  /* Da bude ispod sadržaja */
  opacity: 0.5;  /* Bleda slika */
}

.wallet-container {
  border: 3px solid #34AB45;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
}

.wallet-title {
  font-size: 2em;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 8px 0;
  color: #666;
}
  
  /* Error and loading states */
  p.error {
    color: #d32f2f; /* Red for error messages */
    font-weight: bold;
  }
  
  p.loading {
    color: #4caf50; /* Green for loading messages */
    font-style: italic;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .wallet-container {
      padding: 15px;
      font-size: 0.9rem;
    }
  
    .wallet-container h2 {
      font-size: 1.2rem;
    }
  }
  