<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading bundles...</p>
</div>

<div *ngIf="!isLoading">
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="bundle">
        <p class="bundle-title">Bundles</p>
        <hr>
        <div id="bundle-details">
            <div class="card-container">
                <div class="card" *ngFor="let b of bundles">
                    <div class="card-content">
                        <h3>{{ b.title }}</h3>
                        <p><strong>Tours:</strong> {{ b.tourIds.length }} tours</p>
                        <p><strong>Price:</strong> {{ b.price | currency }}</p>
                    </div>
                    <div class="card-actions">
                        <div class="icon-item">
                            <button color="primary" (click)="viewTours(b)" mat-icon-button matTooltip="Show tours">
                                <img src="assets/icons/tour.png" alt="Tour Icon" />
                            </button>
                            <span class="status-text" style="color: #34AB45;" *ngIf="isPurchased(b.id!)">Purchased</span>
                        </div>

                        <div class="icon-item">
                            <ng-container *ngIf="!isPurchased(b.id!)">
                                <button color="primary" (click)="purchaseBundle(b)" mat-icon-button matTooltip="Purchase bundle">
                                    <img src="assets/icons/shopping-cart.png" alt="Purchase Icon" />
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>