/* Opšti stil za tabelu */
.table {
    width: 40%; /* Tabela će zauzimati 100% širine roditeljskog elementa */
    border-collapse: collapse; /* Spoji ivice ćelija */
     /* Razmak oko tabele */
    /*margin: 20px;*/
    position: absolute; /* Apstraktna pozicija omogućava pomeranje po ekranu */
    top: 120px; /* Pomeranje od vrha */
    left: 20px; 
    font-size: 16px; /* Veličina fonta */
    color: #333; /* Boja teksta */
}



/* Stil za zaglavlja tabele */
th {
    background-color: #4CAF50; /* Pozadina zaglavlja */
    color: white; /* Boja teksta zaglavlja */
    padding: 10px; /* Unutrašnji razmak */
    text-align: left; /* Poravnanje teksta levo */
}

/* Stil za ćelije tabele */
td {
    padding: 10px; /* Unutrašnji razmak */
    border: 1px solid #ddd; /* Ivice ćelija */
}

/* Stil za redove tabele */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Boja pozadine za parne redove */
}

/* Stil za hover efekat na redove */
tr:hover {
    background-color: #ddd; /* Boja pozadine kada se pređe mišem preko reda */
}

.movable-text {
    /* Pomeranje od svih ivica (gore, desno, dole, levo) */
    position: absolute; /* Apstraktna pozicija omogućava pomeranje po ekranu */
    top: 90px; /* Pomeranje od vrha */
    left: 20px; 
    font-size: 25px; /* Veličina fonta */
}

.movable-text1 {
    /* Pomeranje od svih ivica (gore, desno, dole, levo) */
    position: absolute; /* Apstraktna pozicija omogućava pomeranje po ekranu */
    top: 90px; /* Pomeranje od vrha */
    right: 400px; 
    font-size: 25px; /* Veličina fonta */
}



.table1 {
    width: 40%; /* Tabela će zauzimati 100% širine roditeljskog elementa */
    border-collapse: collapse; /* Spoji ivice ćelija */
     /* Razmak oko tabele */
    /*margin: 20px;*/
    position: absolute; /* Apstraktna pozicija omogućava pomeranje po ekranu */
    top: 120px; /* Pomeranje od vrha */
    right: 30px; 
    font-size: 16px; /* Veličina fonta */
    color: #333; /* Boja teksta */
}
/* Stil za poslednji red tabele 
tr:last-child td {
    border-bottom: none; /* Ukloni donju ivicu poslednjeg reda 
} */
