<div *ngIf="user && user.username !== '' && user.role == 'tourist'">
    <p class="movable-text"><b>Oprema koju posedujete</b></p>
    <table class="table">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let eq of touristEquipment">
                <td>{{ eq.equipment.name }}</td>
                <td>{{ eq.equipment.description }}</td>
                <td><button (click)="Delete(eq)">Ukloni iz svoje opreme</button></td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="user && user.username !== '' && user.role == 'tourist'">
    <p class="movable-text1"><b>Sva oprema</b></p>
    <table class="table1">
        <thead>
            <tr>
                <th>Naziv</th>
                <th>Opis</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let eq of equipment">
                <td>{{ eq.name }}</td>
                <td>{{ eq.description }}</td>
                <td><button (click)="add(eq)">Dodaj u svoju opremu</button></td>
            </tr>
        </tbody>
    </table>
</div>
    