/* Glavni kontejner za tur */
.tour-container {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Helvetica Neue", sans-serif;
    
}

/* Stilovi za podnaslov */
h3 {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
}
.status-label {
    font-weight: bold;
    color: var(--secondary-color);
}

/* Horizontalna linija */
hr {
    border: none;
    height: 2px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

/* Kontejner za kartice */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Stil za svaku karticu */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}

/* Stilovi za slike unutar kartica */
.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Unutrašnji sadržaj kartice */
.card-content {
    padding: 15px;
    color: var(--text-color);
}

.card-content h4 {
    margin: 0 0 10px 0;
    color: var(--text-color);
}

.card-content p {
    margin: 5px 0;
    color: var(--text-color);
}

/* Header za karticu sa dugmadi */
.card-header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

/* Standardne dugmadi - Edit i Delete */
.btn {
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Stil za Edit dugme */
.edit-btn {
    background-color: #f39c12;
    color: white;
}

.edit-btn:hover {
    background-color: #e67e22;
    transform: scale(1.05); /* Slight scale effect on hover */
}

/* Stil za Delete dugme */
.delete-btn {
    background-color: #e74c3c;
    color: white;
}

.delete-btn:hover {
    background-color: #c0392b;
    transform: scale(1.05); /* Slight scale effect on hover */
}

/* Kontejner za mapu */
.map-container {
    width: 850px;
    
}

/* Responsive stilovi */
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

/* Stil za naslov tura */
h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
}
.card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    border-top: 1px solid #eee;
    background-color: #f9f9f9;
}

.btn.secondary-btn {
    background-color: var(--secondary-color); 
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.secondary-btn:hover {
    background-color: #4caf50;
}
.success-snackbar {
    background-color: #4caf50; /* Green */
    color: white;
  }
  
  .error-snackbar {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .confirmation-snackbar {
    background-color: #ff9800; /* Orange */
    color: white;
  }

  .author-message {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
}