<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading key points...</p>
  </div>
  
  <div *ngIf="!isLoading" class="tour-layout">
    <!-- Key Points Section -->
    <div class="key-points-section">
      <h2>Key Points for Tour {{ tourId }}</h2>
      <h3 class="intro-text">
        View all the key points for this tour. Feel free to edit or delete any key point as needed to ensure the tour information is accurate and up-to-date.
      </h3>
      <div class="card-container">
        <div class="card" *ngFor="let keyPoint of keyPoints">
          <img
            *ngIf="keyPoint.imagePath"
            [src]="keyPoint.imagePath"
            alt="{{ keyPoint.name }}"
            class="card-image"
          />
          <div class="card-content">
            <h4 class="keypoint-title">{{ keyPoint.name }}</h4>
            <p><strong>Description:</strong> {{ keyPoint.description }}</p>
            <p><strong>Latitude:</strong> {{ keyPoint.latitude }}</p>
            <p><strong>Longitude:</strong> {{ keyPoint.longitude }}</p>
            <button
              class="add-encounter-button"
              (click)="addEncounter(keyPoint.id)"
            >
              Add Encounter
            </button>
          </div>
          <div class="card-footer">
            <ng-container *ngIf="keyPoint.status === 2">
              <span class="status-label">This key point is public!</span>
            </ng-container>
            <ng-container *ngIf="keyPoint.status !== 2">
              <button class="btn secondary-btn" (click)="onEdit(keyPoint)">
                Edit
              </button>
              <button
                class="btn secondary-btn"
                (click)="keyPoint.id !== undefined ? onDelete(keyPoint.id) : null"
              >
                Delete
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bottom Grid Section -->
    <div class="bottom-grid">
      <!-- Map Section -->
      <div class="map-container">
        <app-map [tourView]="true" [keyPoints]="keyPoints"></app-map>
      </div>
  
      <!-- Weather Section -->
      <div class="tour-weather">
        <h2>Weather for This Tour</h2>
        <div class="weather-card">
          <div class="weather-icon">
            <img
              [src]="'../../../../assets/icons/' + getWeatherIcon(currentWeather.temp) + '.png'"
              alt="Weather Icon"
            />
          </div>
          <div class="weather-info">
            <h3>{{ currentWeather.temp }}°C</h3>
            <p>Feels Like: {{ currentWeather.feels_like }}°C</p>
            <p>Humidity: {{ currentWeather.humidity }}%</p>
            <p>Wind: {{ currentWeather.wind_speed }} m/s at {{ currentWeather.wind_degrees }}°</p>
            <p>Sunrise: {{ currentWeather.sunrise }}</p>
            <p>Sunset: {{ currentWeather.sunset }}</p>
          </div>
        </div>
        <a
        [href]="'https://www.google.com/search?q=' + cityName + '+weather'"
        target="_blank"
        class="forecast-link"
        >
        View Next 7 days <span>&#8594;</span>
        </a>

      </div>
    </div>
  </div>
  