.table-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px;
}

.styled-table {
    border-collapse: collapse; 
    width: 80%; 
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table th, .styled-table td {
    padding: 12px; 
    text-align: center;
    border-bottom: 1px solid #ddd; 
}

.styled-table tr:hover {
    background-color: #f1f1f1; 
}

.object-image {
    width: 100px; 
    height: auto;
}
