<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading objects...</p>
</div>

<div *ngIf="!isLoading">
    <div id="object">
        <img id="imgb" src="../../../../assets/screenshot4.png">
            <p class="object-title">Facilities</p>
            <hr>
            <div id="object-details">
                <div class="card-container">
                    <div class="card add-card">
                        <button color="primary" [routerLink]="['/objectForm']" mat-icon-button matTooltip="Add new facility">
                          <img src="assets/icons/add.png" alt="Add Icon"/>
                      </button>                
                      </div>
                    <div class="card" *ngFor="let obj of object">
                      <div class="card-content">
                        <img *ngIf="obj.image" [src]="obj.image" alt="{{ obj.image }}" class="card-image" />
                        <img *ngIf="!obj.image" [src]="obj.image" alt="The image does not exist." class="card-image" />
                        <h3>{{ obj.name }}</h3>
                        <p>{{ obj.description }}</p>
                        <p><strong>Category:</strong> 
                            {{ obj.category }}
                        </p>
                        <p><strong>Longitude:</strong> 
                            {{obj.longitude}}
                        </p>
                        <p><strong>Latitude:</strong> 
                            {{obj.latitude}}
                        </p>
                      </div>
                  </div>
                  
            </div>
    </div>
</div>