#tour {
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Helvetica Neue", sans-serif; /* Promenjeno na timsku konvenciju */
}

#tour p {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color); /* Promenjeno na varijablu za primarnu boju */
    margin-bottom: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--primary-color); /* Promenjeno na varijablu za primarnu boju */
    margin-bottom: 20px;
}

#tour-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95em;
    font-family: "Helvetica Neue", sans-serif; /* Promenjeno na timsku konvenciju */
    min-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead tr {
    background-color: var(--primary-color); /* Promenjeno na varijablu za primarnu boju */
    color: var(--light-text-color); /* Promenjeno na timsku konvenciju za boju teksta */
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: var(--secondary-color); /* Promenjeno na varijablu za sekundarnu boju */
    color: var(--light-text-color); /* Promenjeno na timsku konvenciju za boju teksta */
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary-color); /* Promenjeno na varijablu za primarnu boju */
}

button {
    background-color: var(--primary-color); /* Promenjeno na varijablu za primarnu boju */
    color: var(--light-text-color); /* Promenjeno na timsku konvenciju za boju teksta */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color); /* Promenjeno na varijablu za sekundarnu boju */
}

button:focus {
    outline: none;
}

tbody tr.active-row {
    font-weight: bold;
    color: var(--primary-color); /* Promenjeno na varijablu za primarnu boju */
}

@media screen and (max-width: 768px) {
    table {
        font-size: 0.8em;
    }
    
    th, td {
        padding: 10px 15px;
    }
}
