<div id="tour">
    <p>Tours</p>
    <hr>
    <div id="tour-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Difficulty</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th>Tags</th>
                        <th>Equipment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of tours">
                        <td>{{t.name}}</td>
                        <td>{{t.description}}</td>
                        <td>{{getDifficultyLabel(t.difficulty)}}</td> 
                        <td>{{getStatusLabel(t.status)}}</td> 
                        <td>{{t.price}}</td>
                        <td>{{t.tags}}</td>
                        <td *ngIf="t.id"><xp-tour-equipment [tourId]=t.id></xp-tour-equipment></td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: right;">
                            <button mat-raised-button color="primary" (click)="onAddClicked()">Add New Tour</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
