<p>tour-review works!</p>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Grade</th>
            <th>Comment</th>
            <th>ReviewDate</th>
            <th>VisitDate</th>
            <th>TourId</th>
            <th>UserId</th>
            <th>Images</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of entities">
            <td>{{ item.id }}</td>
            <td>{{ item.grade }}</td>
            <td>{{ item.comment }}</td>
            <td>{{ item.tourVisitDate }}</td>
            <td>{{ item.tourReviewDate }}</td>
            <td>{{ item.tourId }}</td>
            <td>{{ item.userId }}</td>
            <td>{{ item.images }}</td>
        </tr>
    </tbody>
</table>
