<p>TOUR REVIEWS</p>

<div *ngFor="let item of tourReview" class="review-card">
    <div class="card-header">
        <h3>{{ item.username }}'s Review</h3>
        <span class="close-button">✖</span>
    </div>
    <div class="card-content">
        <p><strong>Grade:</strong> {{ item.grade }}</p>
        <p><strong>Comment:</strong> {{ item.comment }}</p>
        <p><strong>Review Date:</strong> {{ item.tourReviewDate }}</p>
        <p><strong>Visit Date:</strong> {{ item.tourVisitDate }}</p>
        <p><strong>Tour ID:</strong> {{ item.tourId }}</p>
        <p><strong>User ID:</strong> {{ item.userId }}</p>
        
        <div *ngIf="item.images" class="image-gallery">
            <ng-container *ngFor="let imgUrl of item.images.split(',')">
                <img [src]="imgUrl.trim()" class="review-image" alt="Image preview" />
            </ng-container>
        </div>
    </div>
</div>

<xp-tour-review-form (tourReviewUpdated)="getReviews()"></xp-tour-review-form>
