<div id="tour">
    <p>Shopping Cart</p>
    <hr>
    <div id="tour-details">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of orderItems">
                        <td>{{ t.tourId }}</td>
                        <td>{{ t.tourName }}</td>
                        <td>{{ t.price | currency }}</td> <!-- Currency pipe to format as price -->
                        <td>
                            <button (click)="removeFromCart(t.tourId)" style="padding: 5px 10px; background-color: #f44336; color: white; border: none; cursor: pointer; font-size: 16px;">
                                X
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Summary Container -->
            <div id="summary-container" style="margin-top: 20px; padding: 10px; border-top: 1px solid #ccc;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <p style="font-size: 18px; font-weight: bold;">Total Price: {{ getTotalPrice() | currency }}</p>
                    <div>
                        <button (click)="resetCart()" style="margin-left: 30px; padding: 10px 20px; background-color: #f44336; color: white; border: none; cursor: pointer; font-size: 16px; margin-right: 10px;">
                            Reset Cart
                        </button>
                        <button (click)="checkout()" style="padding: 10px 20px; background-color: #4CAF50; color: white; border: none; cursor: pointer; font-size: 16px;">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
