<div>
    <form [formGroup]="problemDetailsForm" (ngSubmit)="onSubmit()">
      <h2>Tour Problem</h2>
  
      <div>
        <div class="form-group">
          <label for="category">Category</label>
          <select 
            id="category"
            formControlName="category"
            [class.error]="problemDetailsForm.get('category')?.invalid && problemDetailsForm.get('category')?.touched">
            <option value="" >None</option>
            <option [value]="1">Unclear Instructions</option>
            <option [value]="2">Road Obstacles</option>
            <option [value]="3">Unreachable Part</option>
            <option [value]="0">Other</option>
        </select>
        </div>
  
        <div class="form-group">
          <label for="problemPriority">Problem Priority</label>
          <input 
            id="problemPriority" 
            type="number" 
            formControlName="problemPriority" 
            placeholder="Enter Priority" 
            min="0" 
            max="3" 
            [class.error]="problemDetailsForm.get('problemPriority')?.invalid && problemDetailsForm.get('problemPriority')?.touched"/>
        </div>
  
        <div class="form-group">
          <label for="explanation">Explanation</label>
          <textarea 
            id="explanation" 
            formControlName="explanation" 
            placeholder="Enter Explanation" 
            [class.error]="problemDetailsForm.get('explanation')?.invalid && problemDetailsForm.get('explanation')?.touched"></textarea>
        </div>
      </div>
  
      <button type="submit" class="primary-button" mat-raised-button>Submit</button>
    </form>
  </div>
  