<form>
    <div>
        <mat-form-field>
            <mat-label>Distance</mat-label>
            <input matInput type="number" id="distance" name="distance" [(ngModel)]="searchCriteria.distance" required>
        </mat-form-field>
        <app-map [onlyOneMarker]="true" (keyPointSelected)="onKeyPointSelected($event)"></app-map>
        <button color="primary" type="submit" (click)="searchTours()">Search</button>
    </div>
</form>
<div>
    <p>Tours in desired area:</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Difficulty</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ts of searchedTours">
                <td>{{ts.name}}</td>
                <td>{{ts.description}}</td>
                <td>{{ts.difficulty}}</td>
                <td>{{ts.price}}</td>
            </tr>
        </tbody>
    </table>
</div>
