.return-button {
    margin-top: 20px;
    background-color: green;
}

.glavni-div{
    width: 100vw !important;
    display: flex;
    justify-content: center;
}

.mat-icon {
    vertical-align: middle;
}
.tourReview-form {
    max-width: 500px;
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9; 
}

h2 {
    text-align: center; 
    color: #333; 
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.button-container {
    display: flex;
    justify-content: flex-end;
}
