<img id="imgb" src="../../../../assets/screenshot4.png">
<form class="location-form">
    <h2>Please select your location on the map</h2>
    <div class="form-container">

        <app-map 
            [keyPoints]="keyPoints" 
            [showEncounters]="showEncounters" 
            [onlyOneMarker]="true" 
            [initialCenter]="[location.latitude,location.longitude]"
            (locationSelected)="onLocationSelected($event)">
        </app-map>

        <div class="button-container" *ngIf="!hideFinishButton">
            <button mat-raised-button color="button" (click)="goBack()">
                Finish
            </button>
        </div>
    </div>
</form>