<img id="imgb" src="../../../../assets/screenshot4.png">
<form class="location-form">
    <h2>Please select your location on the map</h2>
    <div class="form-container">

        <app-map
        [onlyOneMarker]="true"
        [initialCenter]="[location.latitude,location.longitude]"
        (locationSelected)="onLocationSelected($event)">
        </app-map>

        <div class="button-container">
            <button mat-raised-button color="button" (click)="goBack()" *ngIf="!hideFinishButton">
                Finish
            </button>
        </div>
    </div>
</form>