<mat-toolbar color="primary">
    <div>
        <p>Explorer</p>
        <div id="buttons">
            <button *ngIf="user && user.username === ''" class="secondary-button" mat-stroked-button [routerLink]="['register']">Join Us</button>
            <button *ngIf="user && user.username === ''" class="primary-button" mat-raised-button [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== '' && user.role == 'tourist'" color="accent" class="primary-button" mat-raised-button [routerLink]="['explore-tours']">Explore Tours</button>
            <button *ngIf="user && user.username !== '' && user.role == 'tourist'" color="accent" class="primary-button" mat-raised-button [routerLink]="['tour-preferences']">Preferences</button>
            <button *ngIf="user && user.role === 'administrator'"class="primary-button" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.username !== ''" class="primary-button" mat-raised-button [routerLink]="['clubs']">Clubs</button>
            <button *ngIf="user && user.role === 'author'"class="primary-button" mat-raised-button [routerLink]="['object']">Show objects</button>
            <button *ngIf="user && user.role === 'author'" class="primary-button" mat-raised-button [routerLink]="['tours']">View My Tours</button>
            <button *ngIf="user && user.role === 'tourist'"class="primary-button" mat-raised-button [routerLink]="['purchasedTours']">Purchased Tours</button>
            <button *ngIf="user && user.role === 'author'" class="primary-button" mat-raised-button [routerLink]="['blogs']">Blogs</button>
            <button *ngIf="user && (user.role === 'administrator' || user.role==='author' || user.role === 'tourist')"class="primary-button" mat-raised-button [routerLink]="['problems']">See tour problems</button>
            <button *ngIf="user && user.role === 'tourist'"class="primary-button" mat-raised-button [routerLink]="['tourReviews']">See tour reviews</button>
            <button *ngIf="user && user.role === 'tourist'"class="primary-button" mat-raised-button [routerLink]="['report']">Report a problem</button>
            <button *ngIf="user && user.username !== ''" class="primary-button" mat-raised-button [routerLink]="['profile']">Profile</button>
            <button *ngIf="user && user.role === 'author'"class="primary-button" mat-raised-button [routerLink]="['object']">Show objects</button>
            <button *ngIf="user && user.role === 'administrator'" class="primary-button" mat-raised-button [routerLink]="['ratings-list']">View Ratings</button>
            <button *ngIf="user && user.role === 'tourist'"class="primary-button" mat-raised-button [routerLink]="['cart']"><img src="assets/icons/cart.png" alt="Shopping Cart" width="20" height="20" style="vertical-align: middle; margin-right: 8px;">Cart</button>
            <button *ngIf="user && (user.role === 'author' || user.role === 'tourist')" class="primary-button" mat-raised-button [routerLink]="['user-rating']">Rate us!</button>
            <button *ngIf="user && user.role === 'administrator'" class="primary-button" mat-raised-button [routerLink]="['account']">Account review</button>

            <!-- Notification Button -->
            <button *ngIf="notifications.length !== 0" class="transparent-button" (click)="toggleNotifications()">
                <img src="assets/icons/notification_green.png" alt="Notification" width="50" height="50">
            </button>
            
            <!-- Notification Dropdown -->
            <div *ngIf="showNotifications" class="notification-dropdown">
                <ul>
                    <li *ngFor="let notification of notifications">
                        <button class="notification-button" (click)="goToProblem(notification, notification.referenceId)">{{ notification.content }}</button>
                    </li>
                </ul>
            </div>
            <button *ngIf="user && user.username !== ''" class="secondary-button" mat-raised-button (click)="onLogout()">Logout</button>
            <button *ngIf="user && user.role === 'tourist'"class="primary-button" mat-raised-button [routerLink]="['tourList']">Tours</button>
        </div>
    </div>
</mat-toolbar>
