div {
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: var(--primary-color);
}

#buttons {
    width: auto;
    margin-left: auto;
}

.mat-toolbar {
    background-color: var(--primary-color) !important;
}

.login-button{
    background-color: var(--secondary-color) !important;
    color: var(--light-text-color)!important;
}