<img id="imgb" src="../../../../assets/screenshot4.png">
<form [formGroup]="ratingForm" class="rating-form">
  <h2>Add Rating</h2>
    <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>Rate us</mat-label>
          <mat-select matInput formControlName="rating" class="stars" required>
            <mat-option *ngFor="let star of [5, 4, 3, 2, 1]" [value]="star">
              <span class="stars">
                <ng-container *ngFor="let i of [].constructor(star); let idx = index">
                  ★
                </ng-container>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Comment (optional)</mat-label>
          <textarea matInput
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="1"
                        formControlName="comment"
                        placeholder="Enter your comment"
                        cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="button" type="submit" (click)="submitRating()" [disabled]="!ratingForm.valid">
              Add Rating
            </button>
        </div>
    </div>
</form>

  