<form [formGroup]="blogForm" class="blog-form">
  <h2>Add Blog</h2>
    <div class="form-container">
      <!-- <button type="button" class="close-button" (click)="closeForm()">X</button> -->
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text" placeholder="Enter blog title"/>
        </mat-form-field>

        <div style="margin-bottom: 16px;">
          <app-image-upload 
            (fileSelected)="onFileSelected($event)" 
            required>
          </app-image-upload>
        </div>
        

        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="0">Draft</mat-option>
            <mat-option value="1">Published</mat-option>
            <mat-option value="2">Closed</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            placeholder="Enter blog description"
            cdkAutosizeMaxRows="5">
          </textarea>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="button" type="submit" (click)="addBlog()" [disabled]="!blogForm.valid || !isImageSelected">
                Add Blog
            </button>
        </div>
    </div>
</form>
