<div *ngIf="user && user.username !== '' && user.role == 'tourist'">  
    <form [formGroup]="tourPreferencesForm" (ngSubmit)="onSubmit()">
        <h2>Your Preferences</h2>
        <div class="form-group">
          <label for="difficulty">Difficulty</label>
          <select id="difficulty" formControlName="difficulty">
            <option value=null>None</option>
            <option value="0">Easy</option>
            <option value="1">Medium</option>
            <option value="2">Hard</option>
          </select>
        </div>
    
        <div class="form-group">
          <label for="walkingRating">Walking Rating</label>
          <input id="walkingRating" type="number" formControlName="walkingRating" placeholder="Rate walking" min="1" max="5"/>
        </div>
    
        <div class="form-group">
          <label for="cyclingRating">Cycling Rating</label>
          <input id="cyclingRating" type="number" formControlName="cyclingRating" placeholder="Rate cycling" min="1" max="5"/>
        </div>
    
        <div class="form-group">
          <label for="drivingRating">Driving Rating</label>
          <input id="drivingRating" type="number" formControlName="drivingRating" placeholder="Rate driving" min="1" max="5"/>
        </div>
    
        <div class="form-group">
          <label for="sailingRating">Sailing Rating</label>
          <input id="sailingRating" type="number" formControlName="sailingRating" placeholder="Rate sailing" min="1" max="5"/>
        </div>
    
        <div class="form-group">
          <label for="tags">Tags</label>
          <input id="tags" type="text" formControlName="tags" placeholder="Add tags (comma-separated)" />
        </div>
    
        <button type="submit" class="submit-btn">Save Changes</button>
      </form>
</div>