<div *ngIf="user && user.username !== '' && user.role == 'tourist'">  
  <img id="imgb" src="../../../../assets/screenshot4.png">
  <form [formGroup]="tourPreferencesForm" (ngSubmit)="onSubmit()" 
      class="preference-form">
    <h2>Your Preferences</h2>
    <div class="form-container">

        <mat-form-field appearance="outline">
          <mat-label>Difficulty</mat-label>
          <mat-select formControlName="difficulty">
            <mat-option [value]="null">None</mat-option>
            <mat-option [value]="0">Easy</mat-option>
            <mat-option [value]="1">Medium</mat-option>
            <mat-option [value]="2">Hard</mat-option>
          </mat-select>
        </mat-form-field>      

        <mat-form-field appearance="outline">
          <mat-label>Walking rating</mat-label>
          <input matInput formControlName="walkingRating" type="number" placeholder="Enter walking rate (0-3)" min="0" max="3"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cycling rating</mat-label>
          <input matInput formControlName="cyclingRating" type="number" placeholder="Enter cycling rate (0-3)" min="0" max="3"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Driving rating</mat-label>
          <input matInput formControlName="drivingRating" type="number" placeholder="Enter driving rate (0-3)" min="0" max="3"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sailing rating</mat-label>
          <input matInput formControlName="sailingRating" type="number" placeholder="Enter sailing rate (0-3)" min="0" max="3"/>
        </mat-form-field>

        <div class="button-container">
            <button mat-raised-button color="button" type="submit">
                Save Changes
            </button>
        </div>
    </div>
  </form>
</div>