<!--<div>
    <div id="titleCont">
        <div id="title">Publish Requests</div>
    </div>
    <div id="prev">
        <span>Page {{ currentPage + 1 }} / {{ totalPages }}</span>
    </div>
  
    <table id="t">
        <tr id="head"> 
            <th>Author</th>
            <th>Status</th>
            <th>Type</th>
            <th>Accept Request</th> 
        </tr>
        <tr 
            tabindex="0" 
            *ngFor="let req of entities" 
            id="ag">
            <td>{{ usernamesMap.get(req.authorId) }}</td>
            <td>{{ getEnumForStatus(req.status) }}</td>
            <td>{{ getEnumForType(req.type) }}</td>
            <td>
                <button (click)="acceptRequest(req)">Accept</button>
            </td>
        </tr> 
    </table>
  </div>
-->

<div class="okvir">
    <div  *ngFor="let item of displayedEntities" >
        <div class="jedan"> 
            <h1>KeyPoint request</h1>
            <img  src={{item.imagePath}}>
            <p><b>Name: </b> {{item.name}}</p>
            <p><b>Latitude:</b>  {{item.latitude}}</p>
            <p><b>Longitude: </b> {{item.longitude}}</p>
            <p><b>Description:</b>  {{item.description}}</p>
            <div>
            <button class="accept" (click)="acceptRequest(item)">accept</button><button  class="decline" (click)="rejectRequest(item)">decline</button>
        </div>
        </div>
    </div>
</div>