<img id="imgb" src="../../../../assets/screenshot4.png">
<div class="okvir">
    <div  *ngFor="let item of displayedEntities" >
        <div class="jedan"> 
            <h1 *ngIf="item.type === 1">KeyPoint request</h1>
            <h1 *ngIf="item.type === 0">Object request</h1>
            <h1 *ngIf="item.type === 2">Story request</h1>
            <img  src={{item.imagePath}}>
            <p><b>Name: </b> {{item.name}}</p>
            <p *ngIf="item.type != 2"><b>Latitude:</b>  {{item.latitude}}</p>
            <p *ngIf="item.type != 2"><b>Longitude: </b> {{item.longitude}}</p>
            <p *ngIf="item.type != 2"><b>Description:</b>  {{item.description}}</p>
            <button *ngIf="item.type === 2" (click)="seeContent(item)">See Content</button>
            <div>
            <button class="accept" (click)="acceptRequest(item)">accept</button><button  class="decline" (click)="rejectRequest(item)">decline</button>
        </div>
        </div>
    </div>

    <div *ngIf="content" class="modal-overlay" >
        <div class="modal-content">
          <h2>{{ contentStory?.title }}</h2>
          <p>{{ contentStory?.content }}</p>
          <button class="close-button" (click)="close()">Close</button>
        </div>
      </div>

      <div id="pop" *ngIf="flag">
        <div class="popup-content">
            <button mat-button id="iks" (click)="closePopUp()">X</button>
            <button mat-raised-button class="pop-button" (click)="createBook()" >Create new book</button>
            <button mat-raised-button class="pop-button" (click)="addStoryToBook()" >Add story to book</button>
        </div>
    </div>
</div>

