<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading tours...</p>
</div>

<div *ngIf="!isLoading">
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="bundle">
        <p class="bundle-title">Create Bundle</p>
        <hr>
        <div id="bundle-details">
            <div class="card-container">
                <div class="card" *ngFor="let t of tours" [class.selected]="selectedTours.includes(t)">
                    <div class="card-content">
                        <h3>{{ t.name }}</h3>
                        <p>{{ t.description }}</p>
                        <p><strong>Price:</strong> 
                            {{ t.price | currency }}
                        </p>
                    </div>
                    <div class="card-actions">
                        <button color="primary" (click)="toggleTourSelection(t)" mat-icon-button [matTooltip]="selectedTours.includes(t) ? 'Deselect' : 'Select'">
                            <img [src]="selectedTours.includes(t) ? 'assets/icons/block.png' : 'assets/icons/accept.png'" alt="Switch Icon"/>
                        </button>
                    </div>
                </div>               
            </div>

            <div class="bundle-form">
                <div class="form-container">
                    <p><strong>Total price:</strong> 
                        {{ totalPrice | currency }}
                    </p>
                    <mat-form-field appearance="outline">
                        <mat-label>New Price</mat-label>
                        <input matInput [(ngModel)]="newPrice" type="number" placeholder="Enter new bundle price" required/>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput [(ngModel)]="newTitle" type="text" placeholder="Enter bundle title" required/>
                    </mat-form-field>
    
                    <div class="button-container">
                        <button mat-raised-button (click)="createBundle()" color="button" [disabled]="selectedTours.length < 2">
                            Create Bundle
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>