<form [formGroup]="tourReviewForm" class="tourReview-form">
    <h2>Review tour: {{ tourName }}</h2>
    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade" required>
                <mat-option value=1>1</mat-option>
                <mat-option value=2>2</mat-option>
                <mat-option value=3>3</mat-option>
                <mat-option value=4>4</mat-option>
                <mat-option value=5>5</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Comment</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="comment"
          cdkAutosizeMaxRows="5"
          required
          type="text"></textarea>
        </mat-form-field>
            <app-image-upload (addedFiles)="onFileSelected($event)" [selectSingle]="false" formControlName="image" required></app-image-upload>
        <button  color="primary" type="submit" (click)="addTourReview()" [disabled]="tourReviewForm.invalid" mat-raised-button>Add review</button>
    </div>
    <div *ngIf="feedbackMessage">
        {{ feedbackMessage }}
    </div>
</form>
