<div id="tour">
  <p>Purchased Tours</p>
  <hr>
  <div id="tour-details">
      <table>
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Duration</th> <!-- Added duration column -->
                  <th>Distance</th> <!-- Added distance column -->
                  <th></th>
                  <th>Add review</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let t of tours">
                  <td>{{ t.id }}</td>
                  <td>{{ t.name }}</td>
                  <td>{{ t.description }}</td>
                  <td>{{ t.transportInfo.time }} minutes</td> <!-- Display general duration -->
                  <td>{{ t.transportInfo.distance }} km</td> <!-- Display general distance -->
                  <td>
                      <button (click)="showKeyPoints(t)">Show Key Points</button>
                      <button (click)="executeTour(t)" style="padding: 8px 16px; background-color: #ff9800; color: white; border: none; cursor: pointer; font-weight: bold; margin-left: 10px; font-size: 16px;">
                          Execute
                      </button>
                  </td>
                  <!-- review -->
                  <td>
                    <ng-container *ngIf="t.reviewStatus==0">
                        <button (click)="reviewTour(t.id ?? 0,t.name)">
                            Review <img src="assets/icons/cart.png" alt="Shopping Cart" width="20" height="20"
                                style="vertical-align: middle;">
                        </button>
                    </ng-container>
                    <ng-container *ngIf="t.reviewStatus==1">
                        <span style="color: green; font-weight: bold;">Reviewed</span>
                    </ng-container>
                    <ng-container *ngIf="t.reviewStatus==2">
                        <span style="color: red; font-weight: bold;">Not allowed</span>
                    </ng-container>
                    <ng-container *ngIf="t.reviewStatus==3">
                        <button (click)="reviewTour(t.id ?? 0,t.name)">
                            Modify review <img src="assets/icons/cart.png" alt="Shopping Cart" width="20" height="20"
                                style="vertical-align: middle;">
                        </button>
                    </ng-container>
                </td>

              </tr>
          </tbody>
      </table>
  </div>
</div>

<!-- Key Points Modal -->
<div class="modal-overlay" *ngIf="isKeyPointsModalOpen">
  <div class="modal-content">
      <h2>Key Points</h2>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Image</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let kp of selectedTourKeyPoints">
                  <td>{{ kp.name }}</td>
                  <td>{{ kp.description }}</td>
                  <td><img [src]="kp.imagePath" alt="{{ kp.name }}" width="50" /></td>
              </tr>
          </tbody>
      </table>
      <button (click)="closeKeyPointsModal()">Close</button>
  </div>
</div>
