<img id="imgb" src="../../../../assets/screenshot4.png">
<form (ngSubmit)="onUpdateKeyPoint()" class="keypoint-form">
    <h2>Update Keypoint</h2>
    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="selectedKeyPoint.name" name="name" type="text" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
                      [(ngModel)]="selectedKeyPoint.description" 
                      name="description"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5" required></textarea>
        </mat-form-field>

        <div>
          <label for="image">Upload Image:</label>
          <input type="file" id="image" (change)="onImageSelected($event)" />
        </div>
      <!-- <div *ngIf="!showImageUpload; else imageUploadTemplate" class="object-image-container">
        <img *ngIf="profile?.imageURL" [src]="profile.imageURL" alt="{{ profile.imageURL }}" class="object-image" />
        <img *ngIf="!profile?.imageURL" src="assets/default-image.png" alt="The image does not exist." class="object-image" />
        <button (click)="changeImage()" type="button" mat-raised-button color="button">Change image</button>
      </div>
      
      <ng-template #imageUploadTemplate>
        <div style="margin-bottom: 16px;">
          <app-image-upload (fileSelected)="onFileSelected($event)" formControlName="imageURL" required></app-image-upload>
        </div>
      </ng-template> -->

        <mat-form-field appearance="outline">
          <mat-label>Longitude</mat-label>
          <input matInput [(ngModel)]="selectedKeyPoint.longitude" name="longitude" type="number" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Latitude</mat-label>
          <input matInput [(ngModel)]="selectedKeyPoint.latitude" name="latitude" type="number" required/>
        </mat-form-field>

        <app-map
        [onlyOneMarker]="true"
        (keyPointSelected)="onKeyPointSelected($event)"
        [isAddingKeyPoints]="false">
        </app-map>

        <div class="button-container">
            <button mat-raised-button color="button" type="submit">
                Update Keypoint
            </button>
        </div>

    </div>
</form>