<div class="club-form-container">
    <form [formGroup]="clubForm" class="club-form">
      <div>
        <h2>{{ shouldEdit ? 'Update Club' : 'Add Club' }}</h2>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            formControlName="description"
            required
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <app-image-upload (fileSelected)="onFileSelected($event)" formControlName="image" required></app-image-upload>
        
        <button *ngIf="!shouldEdit" mat-raised-button type="submit" (click)="addClub()" color="button">Add club</button>
        <button *ngIf="shouldEdit" mat-raised-button type="submit" (click)="updateClub()" color="button">Update club</button>
      </div>
    </form>
</div>
