<div *ngIf="selectSingle" class="container">
    <div class="image-preview" *ngIf="imageSrc; else placeholder">
        <img [src]="imageSrc" alt="Image Preview">
    </div>
    <ng-template #placeholder>
        <div class="image-preview">
            <span>Image Preview</span>
        </div>
    </ng-template>

    <input type="file" (change)="onFileSelected($event)">
</div>
<div *ngIf="!selectSingle" class="container">
    <div class="image-preview" *ngIf="imageSrcs && imageSrcs.length > 0; else placeholder">
        <img [src]="showingImage" alt="Image Preview">
    </div>
    <ng-template #placeholder>
        <div class="image-preview">
            <span>Image Preview</span>
        </div>
    </ng-template>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button *ngIf="!selectSingle" (click)="PreviousImage()" mat-raised-button color="primary">Previous</button>
        <button *ngIf="!selectSingle" (click)="NextImage()" mat-raised-button color="primary">Next</button>
    </div>
    <input type="file" (change)="onFileSelected($event)" mat-raised-button color="primary" multiple>
</div>