<div *ngIf="selectSingle" class="container">
    <div class="image-preview" *ngIf="imageSrc; else placeholder">
        <img [src]="imageSrc" alt="Image Preview">
    </div>
    <ng-template #placeholder>
        <div class="image-preview">
            <span>Image Preview</span>
        </div>
    </ng-template>

    <label for="file-upload" class="choose-file-button">Choose file</label>
    <input id="file-upload" type="file" (change)="onFileSelected($event)" style="display: none;">
</div>
<div *ngIf="!selectSingle" class="container">
    <div class="image-preview" *ngIf="imageSrcs && imageSrcs.length > 0; else placeholder">
        <img [src]="showingImage" alt="Image Preview">
    </div>
    <ng-template #placeholder>
        <div class="image-preview">
            <span>Image Preview</span>
        </div>
    </ng-template>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button *ngIf="!selectSingle" (click)="PreviousImage()" mat-raised-button class="choose-file-button">Prev</button>
        <button *ngIf="!selectSingle" (click)="NextImage()" mat-raised-button class="choose-file-button">Next</button>
    </div>
    <label for="file-upload-multiple" class="choose-file-button">Choose files</label>
    <input id="file-upload-multiple" type="file" (change)="onFileSelected($event)" style="display: none;" multiple>
</div>