.map-frame {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

#map {
  height: 600px;
  margin-top: 10px;
}

h2 {
  text-align: center; 
  color: #333; 
}

.search-bar {
  display: flex;
  flex-direction: column; /* Stavlja sadržaj u vertikalnu liniju */
  gap: 5px; /* Manji razmak između elemenata */
  margin-bottom: 15px; /* Razmak ispod cele trake za pretragu */
}

.input-button {
  display: flex; /* Elementi unutar ovog div-a su u istom redu */
  align-items: center; /* Poravnava input polje i dugme vertikalno */
  gap: 10px; /* Razmak između inputa i dugmeta */
}

.search-bar mat-form-field {
  flex: 1; /* Polje zauzima sav dostupni prostor */
  margin: 0; /* Uklanja margine */
}

.search-bar mat-form-field input {
  line-height: 1.25; /* Poravnavanje teksta unutar input polja */
}

.icon-options {
  display: flex;
  justify-content: center;
  gap: 8px; /* Razmak između opcija */
}

.icon-button {
  cursor: pointer;
  color: #333;
  transition: transform 0.2s ease, color 0.2s ease;
}

.icon-button.selected {
  transform: scale(1.5); /* Uvećanje na selekciji */
}


