<div class="search-bar">
  <div class="input-button">
    <mat-form-field appearance="outline">
      <mat-label>Address (Optional)</mat-label>
      <input matInput *ngIf="onlyOneMarker" [(ngModel)]="searchQuery" placeholder="Enter in format Street, City" />
    </mat-form-field>  
    <button color="primary" (click)="search()" mat-icon-button>
      <img src="assets/icons/search.png" alt="Search Icon"/>
    </button>
  </div>
</div>


<select name="" [(ngModel)]="Option" *ngIf="tourView" style="font-size: xx-large;" id="">
  <option value="walking">walking</option>
  <option value="driving" selected>driving</option>
  <option value="cycling">cycling</option>
</select>
<div class="map-frame">
  <div id="map"></div>
  <label *ngIf="onlyOneMarker" for="">Address: {{address}}</label>
  <label *ngIf="tourView" for="">{{message}}</label>
  
</div>