<div class="search-bar">
  <div *ngIf="onlyOneMarker" class="input-button">
    <mat-form-field appearance="outline">
      <mat-label>Address (Optional)</mat-label>
      <input matInput [(ngModel)]="searchQuery" placeholder="Enter in format Street, City" />
    </mat-form-field>
    <button color="primary" (click)="search()" type="button" mat-icon-button matTooltip="Search address">
      <img src="assets/icons/search.png" alt="Search Icon"/>
    </button>
  </div>
</div>

<div class="icon-options" *ngIf="tourView">
  <button 
    mat-icon-button
    class="icon-button" 
    color="accent"
    [class.selected]="Option === 'walking'" 
    (click)="Option = 'walking'"
    matTooltip="Walking">
    <img src="assets/icons/walking.png" alt="Walking Icon" class="icon-image" />
  </button>
  
  <button 
    mat-icon-button
    class="icon-button" 
    color="accent"
    [class.selected]="Option === 'driving'" 
    (click)="Option = 'driving'"
    matTooltip="Driving">
    <img src="assets/icons/driving.png" alt="Driving Icon" class="icon-image" />
  </button>
  
  <button 
    mat-icon-button
    class="icon-button" 
    color="accent"
    [class.selected]="Option === 'cycling'" 
    (click)="Option = 'cycling'"
    matTooltip="Cycling">
    <img src="assets/icons/cycling.png" alt="Cycling Icon" class="icon-image" />
  </button>
</div>

<div class="map-frame">
  <div id="map"></div>
  <label *ngIf="onlyOneMarker" for="">Address: {{address}}</label>
  <label *ngIf="tourView" for="">{{message}}</label>
  
</div>