<form [formGroup]="commentForm">
    <div class="comment-form" style="margin-top: 10px;">
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      formControlName="text"
                      placeholder="Enter comment"
                      cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>

        <button *ngIf="!shouldEdit" color="primary" (click)="addComment()" mat-icon-button matTooltip="Add comment">
            <img src="assets/icons/send.png" alt="Send Icon"/>
        </button>
        <button *ngIf="shouldEdit" color="primary" (click)="updateComment()" mat-icon-button matTooltip="Update comment">
            <img src="assets/icons/send.png" alt="Send Icon"/>
        </button>
    </div>
</form>