<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading reviews...</p>
</div>

<div *ngIf="!isLoading">
    <div id="review">
        <img id="imgb" src="../../../../assets/screenshot4.png">
            <p class="review-title">Reviews</p>
            <hr>
            <div id="review-details">
                <div class="card-container">
                    <div class="card" *ngFor="let item of tourReview">
                      <div class="card-content">
                        <img *ngFor="let image of item.reviewImages" [src]="image" alt="Review Image" class="card-image" />
                        <h3>{{ item.comment }}</h3>
                        <p>{{ item.grade }}</p>
                        <p><strong>Review ID:</strong> 
                            {{ item.id }}
                        </p>
                        <p><strong>Tour visit date:</strong> 
                            {{ item.tourVisitDate }}
                        </p>
                        <p><strong>Tour review date:</strong> 
                            {{ item.tourReviewDate }}
                        </p>
                        <p><strong>Tour ID:</strong> 
                            {{ item.tourId }}
                        </p>
                        <p><strong>User ID:</strong> 
                            {{ item.userId }}
                        </p>
                        <p><strong>Username:</strong> 
                            {{ item.username }}
                        </p>
                      </div>
                    </div>               
                </div>
            </div>
    </div>
</div>