#imgb {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

#bundle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 20px;
}

#bundle-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.bundle-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: #ffffff;
    border: 3px solid #34AB45;
    transition: transform 0.3s ease-in-out;
}

.card-content {
    margin: 10px;
    text-align: left;
    width: 100%;
}

.card-content h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.card-content p {
    margin: 8px 0;
    color: #666;
}

.card-actions {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid #2ecc71;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border: 2px dashed #ddd;
    color: #aaa;
    text-align: center;
}