<div *ngIf="!isLoading">
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="bundle">
        <p class="bundle-title">Bundles</p>
        <hr>
        <div id="bundle-details">
            <div class="card-container">
                <div class="card add-card">
                    <button color="primary" (click)="createNewBundle()" mat-icon-button matTooltip="Create new bundle">
                        <img src="assets/icons/add.png" alt="Add Icon" />
                    </button>
                </div>
                <div class="card" *ngFor="let b of bundles">
                    <div class="card-content">
                        <h3>{{b.title}}</h3>
                        <p><strong>Number of tours:</strong> {{b.tourIds.length}}</p>
                        <p><strong>Price:</strong> {{b.price | currency}}</p>
                        <p><strong>Status:</strong> {{getStatusText(b.status)}}</p>
                    </div>
                    <div class="card-actions">
                        <button color="primary" *ngIf="b.status == 0" (click)="updateBundleStatus(b)" mat-icon-button
                            matTooltip="Publish bundle">
                            <img src="assets/icons/publish.png" alt="Publish Icon" />
                        </button>
                        <button color="primary" *ngIf="b.status === 1" (click)="updateBundleStatus(b)" mat-icon-button
                            matTooltip="Archive bundle">
                            <img src="assets/icons/archive.png" alt="Archive Icon" />
                        </button>
                        <button color="primary" (click)="viewTours(b)" mat-icon-button matTooltip="Show tours">
                            <img src="assets/icons/tour.png" alt="Tours Icon" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>