<div *ngIf="isLoading" class="loading-spinner" style="width: 100%;display: flex;">
    <div class="custom-spinner"></div>
    <p class="loading-text">Logging in...</p>
</div>

<div *ngIf="!isLoading" style="width: 100%;display: flex;flex-direction: column;justify-content: center;">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" />
            </mat-form-field>
            <button class="primary-button" type="submit" mat-raised-button>Login</button>
            <p>Don't have an account yet?<a href="/register">Sign Up</a></p>
        </div>
    </form>
</div>