<form [formGroup]="tourForm" (ngSubmit)="addTour()" class="tour-form">
    <h2>{{ shouldEdit ? 'Update Tour' : 'Add Tour' }}</h2>
    <div class="form-container">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Enter tour name" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      formControlName="description"
                      placeholder="Enter tour description"
                      cdkAutosizeMaxRows="5" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="difficulty" required>
                <mat-option value="0">Easy</mat-option>
                <mat-option value="1">Medium</mat-option>
                <mat-option value="2">Hard</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price" type="number" placeholder="Enter tour price" required/>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Transport Type</mat-label>
            <mat-select formControlName="transportType" required>
                <mat-option [value]="TransportType.Car">Car</mat-option>
                <mat-option [value]="TransportType.Bicycle">Bicycle</mat-option>
                <mat-option [value]="TransportType.Walk">Walk</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tags</mat-label>
            <input 
              matInput 
              [(ngModel)]="newTag" 
              [ngModelOptions]="{standalone: true}" 
              placeholder="Enter a tag" 
              (keyup.enter)="addTag()">
          </mat-form-field>
        
        <div>
            <button mat-raised-button color="primary" type="button" (click)="addTag()" [disabled]="tourForm.invalid">
                Add Tag
            </button>
        </div>
        
        <div>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of tags" (removed)="removeTag(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="tourForm.invalid">
                {{ shouldEdit ? 'Update Tour' : 'Add Tour' }}
            </button>
        </div>
    </div>
</form>
