<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading accounts...</p>
</div>

<div *ngIf="!isLoading">
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="account">
        <p class="account-title">Accounts review</p>
        <hr>
        <div id="acount-details">
            <div class="card-container">
                <div class="card" *ngFor="let acc of account">
                    <div class="card-content">
                        <h3 style="color: var(--secondary-color);">{{acc.username}}</h3>
                        <h4>{{acc.firstName}} {{acc.lastName}}</h4>
                        <p>{{acc.role}}</p>
                        <p><strong>Email:</strong> 
                            {{acc.email}}
                        </p>
                        <p *ngIf="acc.role=='Tourist'"><strong>Balance:</strong> 
                            {{acc.balance}}
                        </p>
                    </div>
                    <div class="card-actions">
                        <div class="icon-item">
                            <button *ngIf="acc.role === 'Tourist'" color="primary" (click)="showWallet(acc.id ?? 0)" type="submit" mat-icon-button matTooltip="Show wallet">
                                <img src="assets/icons/wallet.png" alt="Wallet Icon"/>
                            </button>
                            <span class="status-text" style="color: black;" *ngIf="isBlocked(acc)">Blocked</span>
                        </div>

                        <div class="icon-item">
                            <ng-container *ngIf="!isBlocked(acc) && acc.role !== 'Administrator' ">
                                <button color="accent" (click)="blockAccount(acc)" mat-icon-button matTooltip="Block user">
                                    <img src="assets/icons/block.png" alt="Block Icon"/>
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <div *ngIf="showWalletPopup" class="wallet-popup">
        <div *ngIf="selectedWallet" class="popup-content">
            <h2>Manage Wallet</h2>
            <p><strong>Tourist ID:</strong> {{ selectedWallet.touristId }}</p>
            <p>
                <strong>Balance:</strong> </p>
                <input 
                    type="number" 
                    [(ngModel)]="selectedWallet.balance"
                    (blur)="ensureNonEmptyBalance()"  
                    placeholder="Enter" 
                    class="balance-input"
                />
            
            <div>
                <button color="primary" (click)="decreaseBalance()" mat-icon-button matTooltip="Reduce">
                    <img src="assets/icons/reduce.png" alt="Reduce Icon"/>
                </button>
                <button color="primary" (click)="increaseBalance()" mat-icon-button matTooltip="Add">
                    <img src="assets/icons/add.png" alt="Add Icon"/>
                </button>
            </div>
            <div class="popup-actions">
                <button mat-button id="iks" (click)="closePopup()">X</button>
                <button mat-raised-button class="save-button" (click)="saveWallet()">Save</button>
            </div>
        </div>
    </div>
</div>