p {
    color:white;
    font-size: 20px;
    z-index: 1;
}

img {
    width:  100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    top: 0;
    left: 0;
}

div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

button {
    border: 2px solid var(--background-color);

    border-radius: 8px;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--background-color);
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.heading {

    color: white;
    font-size: 38px;
    font-weight: bold;
    z-index: 1; 
}