#imgb {
    position: fixed;  /* Postavlja sliku fiksiranu u odnosu na ekran */
    top: 0;
    left: 0;
    height: 100%;  /* Pokriva celu visinu ekrana */
    width: 100%;   /* Pokriva celu širinu ekrana */
    object-fit: cover;  /* Pokriva ceo ekran, zadržavajući proporcije slike */
    z-index: -1;  /* Da bude ispod sadržaja */
    opacity: 0.5;  /* Bleda slika */
}

#rating {
    display: flex;
    justify-content: flex-start; /* Ostavi sadržaj pri vrhu */
    align-items: center; /* Horizontalno centrirano */
    flex-direction: column; /* Elementi idu vertikalno */
    margin-top: 20px; /* Dodatni razmak od vrha */
}

#rating-details {
    display: flex;
    flex-direction: column; /* Ili row ako kartice treba horizontalno */
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
    gap: 50px; /* Razmak između elemenata */
    width: 100%; /* Koristi celu širinu roditelja */
}

.rating-title {
    font-size: 2em; /* Povećava veličinu fonta */
    font-weight: bold; /* Čini tekst debljim */
    text-align: center; /* Centriranje naslova */
    margin-bottom: 10px; /* Razmak između naslova i linije */
    color: black; /* Boja naslova (možeš prilagoditi) */
}

.card-container {
    display: flex;
    flex-direction: column; /* Kartice idu jedna ispod druge */
    justify-content: center; /* Centriranje kartica vertikalno */
    align-items: center; /* Centriranje horizontalno */
    gap: 20px; /* Razmak između kartica */
    width: 100%;
    padding: 0;
    margin: 15px auto 0;
}

.card {
    width: 80%; /* Širina kartice, možeš prilagoditi po potrebi */
    max-width: 650px; /* Maksimalna širina */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border: 3px solid #34AB45;
    transition: transform 0.3s ease-in-out;
    margin: 0; /* Nema dodatnih margina, koristi gap iz parenta */
}

  
.card-content {
    margin: 10px;
    text-align: left; /* Tekst poravnat na levo */
    width: 100%; /* Puni širinu kartice */
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid #2ecc71;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.card-header h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.card-content p {
    margin: 8px;
    color: #666;
}

.card-content span {
    color: #666;
}