<div *ngIf="isLoading" class="loading-spinner">
    <div class="custom-spinner"></div>
    <p class="loading-text">Loading ratings...</p>
</div>

<div *ngIf="!isLoading">
    <img id="imgb" src="../../../../assets/screenshot4.png">
    <div id="rating">
        <p class="rating-title">User Ratings</p>
        <hr>
        <div id="rating-details">
            <div class="card-container">
                <div class="card" *ngFor="let rating of ratings">
                    <div class="card-header">
                        <h3>{{ rating.username }}</h3>
                        <span>
                            <ng-container *ngFor="let star of [].constructor(5); let idx = index">
                                <span [style.color]="(rating.rating || 0) > idx ? 'gold' : 'lightgray'">
                                    {{ (rating.rating || 0) > idx ? '★' : '☆' }}
                                </span>
                            </ng-container>
                        </span>
                    </div>
                    <div class="card-content">
                        <p>{{ rating.comment }}</p>
                        <span>{{ rating.createdAt | date:'short' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
