.ratings-list-container {
    max-width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

.filled-star {
    color: gold; /* Change color to your preference */
    font-size: 1.5rem; /* Adjust size if needed */
}

.empty-star {
    color: lightgray; /* Color for empty stars */
    font-size: 1.5rem; /* Adjust size if needed */
}


