
#imgb {
    position: fixed;  /* Postavlja sliku fiksiranu u odnosu na ekran */
    top: 0;
    left: 0;
    height: 100%;  /* Pokriva celu visinu ekrana */
    width: 100%;   /* Pokriva celu širinu ekrana */
    object-fit: cover;  /* Pokriva ceo ekran, zadržavajući proporcije slike */
    z-index: -1;  /* Da bude ispod sadržaja */
    opacity: 0.5;  /* Bleda slika */
}

.okvir {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap:5%; 
    padding: 2%; 
}

.jedan {
    background-color: rgb(88, 181, 86);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box; 
    height: 430px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.jedan:hover {
    transform: scale(1.05) translateY(-5px); /* Slightly bigger and moves up */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adds shadow to lift effect */
}

.jedan img {
    width: 100%; 
    height: 45%;
}

.jedan h1 {
    margin: 50% 50%;
}



button{
    background-color: var(--primary-color) ;
    color: var(--light-text-color);
    border-radius: 30px 15px 30px 15px;
}
button:active{
    background-color: green;
}
