/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Color Palette */
:root {
    --primary-color: #19191E;
    --secondary-color: #34AB45;
    --background-color: #F7F4ED;
    --text-color: #2c3e50;
    --light-text-color: #FAF7F0;
}

/* Buttons Styling */
/*.primary-button {
    background-color: var(--secondary-color) !important;
    color: var(--light-text-color) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}*/
.primary-button {
    background-color: var(--secondary-color)!important; /* Main color */
    color: var(--light-text-color) !important;
    padding: 14px 36px; /* Ample padding for a luxurious feel */
    border: none;
    border-radius: 30px 15px 30px 15px; 
    text-transform: uppercase; 
    position: relative; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); 
}

.secondary-button {
    background-color: var(--primary-color) !important;
    color: var(--light-text-color) !important;
    padding: 10px 20px;
   /* border-radius: 5px;*/
   border-radius: 30px 15px 30px 15px; 
}

/* Text Styles */
.primary-heading-text {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 28px !important;
    font-weight: 500 !important;
}

.primary-title-text {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 24px !important;
    font-weight: 400 !important;
}

.primary-body-text {
    font-family: "Helvetica Neue",sans-serif;
    font-size: 12px !important;
}

/* Containers */
.main-container {
    margin-left: 100px !important;
    margin-right: 100px !important;
}

/* Links */
.link-text {
    text-decoration: underline;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 12px !important;
    color: var(--text-color);
}

