<form [formGroup]="objectForm">




    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" required>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>
    </div>


   


    <div>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" required>
            <mat-option value=0>WC</mat-option>
            <mat-option value=1>Restaurant</mat-option>
            <mat-option value=2>Parking</mat-option>
            <mat-option value=3>Other</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

   
      <div style="margin-bottom: 16px;">
        <label for="image">Image URL</label>
        <input id="image" type="text" formControlName="image" required style="width: 100%; padding: 8px; border-radius: 4px; border: 1px solid #ccc;">
    </div>
    
    
    <img *ngIf="objectForm.value.image" [src]="objectForm.value.image" style="width: 200px; height: auto;" alt="Image preview"/>
    


    <button mat-raised-button color="primary" type="submit" (click)="addObject()">Submit</button>
</form>
