<div *ngIf="isLoading" class="loading-spinner">
  <div class="custom-spinner"></div>
  <p class="loading-text">Loading comments...</p>
</div>

<div *ngIf="!isLoading"  style="padding-bottom: 10px;">
  <img id="imgb" src="../../../../assets/screenshot4.png">
  <div class="blog-container">
    <img [src]="blog.image" alt="blog picture" class="blog-image"/>

    <div class="blog-content">
      <h3>{{blog.title}}</h3>
      <p>{{ blog.description }}</p>
      <p><strong>Published:</strong> 
        {{ blog.creationDate| date:'longDate' }}
      </p>
      <p><strong>Votes:</strong> 
        {{ votes.length }}
      </p>
    </div>

    <div class="blog-actions">
      <div *ngIf="!hasUserRated">
        <button color="primary" (click)="rateBlog('like')" mat-icon-button matTooltip="Like">
          <img src="assets/icons/like.png" alt="Delete Icon"/>
        </button>
        <button color="primary" (click)="rateBlog('dislike')" mat-icon-button matTooltip="Dislike">
          <img src="assets/icons/dislike.png" alt="Delete Icon"/>
        </button>
        <button color="primary" (click)="toggleCommentsSection()" mat-icon-button [matTooltip]="isCommentsOpen ? 'Close comments' : 'Show comments'">
          <img src="assets/icons/comment.png" alt="Comment Icon"/>
        </button>
      </div>

      <div *ngIf="hasUserRated">
        <div class="rating-feedback">
          <span *ngIf="currentUserRating === true">Liked</span>
          <span *ngIf="currentUserRating === false">Disliked</span>
        </div>
        <div class="blog-actions">
          <button color="primary" (click)="changeRating()" mat-icon-button [matTooltip]="currentUserRating ? 'Switch to Dislike' : 'Switch to Like'">
            <img [src]="currentUserRating ? 'assets/icons/dislike.png' : 'assets/icons/like.png'" alt="Switch Icon"/>
          </button>
          <button color="primary" (click)="removeRating()" mat-icon-button matTooltip="Remove rating">
            <img src="assets/icons/block.png" alt="Block Icon"/>
          </button>
          <button color="primary" (click)="toggleCommentsSection()" mat-icon-button [matTooltip]="isCommentsOpen ? 'Close comments' : 'Show comments'">
            <img src="assets/icons/comment.png" alt="Comment Icon"/>
          </button>
        </div>
      </div>
    </div>

    <div class="comment-section" *ngIf="isCommentsOpen">
      <div class="comment-list">
        <div *ngFor="let comment of comments" class="comment">
          <div class="comment-header">
            <span class="comment-author">{{ comment.username }}</span>
            <span class="comment-time">{{ formatDate(comment.editDate) }}</span>
          </div>
          <p class="comment-text">{{ comment.text }}</p>
          <div class="comment-actions" *ngIf="comment.authorId == id">
            <button color="primary" (click)="onEditClicked(comment)" mat-icon-button matTooltip="Edit comment">
              <img src="assets/icons/edit.png" alt="Edit Icon"/>
            </button>
            <button color="accent" (click)="deleteComment(comment.id)" mat-icon-button matTooltip="Delete comment">
              <img src="assets/icons/delete.png" alt="Delete Icon"/>
            </button>
          </div>
        </div>
      </div>
      

      <div class="add-comment">
        <xp-comment-form *ngIf="shouldRenderCommentForm" [comment]="selectedComment" [shouldEdit]="shouldEdit"
          [blogId]="blogId" [username]="username" (commentUpdated)="getComments()">
        </xp-comment-form>
      </div>
    </div>
  </div>
</div>