#equipment {
    display: flex;
    justify-content: flex-start; /* Ostavi sadržaj pri vrhu */
    align-items: center; /* Horizontalno centrirano */
    flex-direction: column; /* Elementi idu vertikalno */
    min-height: 100vh; /* Da pokrije visinu ekrana */
    margin-top: 20px; /* Dodatni razmak od vrha */
}

#equipment-details {
    display: flex;
    flex-direction: column; /* Ili row ako kartice treba horizontalno */
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
    gap: 50px; /* Razmak između elemenata */
    width: 100%; /* Koristi celu širinu roditelja */
}

.equipment-title {
    font-size: 2em; /* Povećava veličinu fonta */
    font-weight: bold; /* Čini tekst debljim */
    text-align: center; /* Centriranje naslova */
    margin-bottom: 10px; /* Razmak između naslova i linije */
    color: black; /* Boja naslova (možeš prilagoditi) */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Razmak između kartica */
    justify-content: center; /* Centriranje kartica */
    width: 100%; /* Osiguraj da zauzima punu širinu */
    padding: 0; /* Osiguraj da nema unutrašnjih razmaka */
    margin: 0 auto; /* Centriranje na sredinu */
}
  
  .card {
    border-radius: 8px; /* Zaobljeni uglovi */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Senka */
    width: 300px; /* Širina kartice */
    padding: 16px; /* Unutrašnji razmak */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: #ffffff;
    border: 3px solid #34AB45; /* Zeleni okvir sa debljinom 3px */
    transition: transform 0.3s ease-in-out;
  }

  .card-content {
    margin: 10px;
    text-align: left; /* Tekst poravnat na levo */
    width: 100%; /* Puni širinu kartice */
  }
  
  .card-content h3 {
    margin: 0;
    font-size: 20px;  /* Adjust this value to make it larger or smaller */
    font-weight: bold;  /* Make the text bold */
}
  
  .card-content p {
    margin: 8px 0;
    color: #666;
  }
  
  .card-actions {
    display: flex;
    gap: 8px;
    margin-top: 16px;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid #2ecc71; /* Promeni boju okvira na svetliju zelenu pri hover-u */
  }
  
  .add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px; /* Visina dodaj kartice */
    border: 2px dashed #ddd; /* Stilska granica za dodavanje */
    color: #aaa;
    text-align: center;
  }
  
