#encounter {
    display: flex;
    justify-content: flex-start; /* Ostavi sadržaj pri vrhu */
    align-items: center; /* Horizontalno centrirano */
    flex-direction: column; /* Elementi idu vertikalno */
    min-height: 100vh; /* Da pokrije visinu ekrana */
    margin-top: 20px; /* Dodatni razmak od vrha */
}

#encounter-details {
    display: flex;
    flex-direction: column; /* Ili row ako kartice treba horizontalno */
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
    gap: 50px; /* Razmak između elemenata */
    width: 100%; /* Koristi celu širinu roditelja */
}

.encounter-title {
    font-size: 2em; /* Povećava veličinu fonta */
    font-weight: bold; /* Čini tekst debljim */
    text-align: center; /* Centriranje naslova */
    margin-bottom: 10px; /* Razmak između naslova i linije */
    color: black; /* Boja naslova (možeš prilagoditi) */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Razmak između kartica */
    justify-content: center; /* Centriranje kartica */
    width: 100%; /* Osiguraj da zauzima punu širinu */
    padding: 0; /* Osiguraj da nema unutrašnjih razmaka */
    margin: 0 auto; /* Centriranje na sredinu */
}
  
.card {
    border-radius: 8px; /* Zaobljeni uglovi */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Senka */
    width: 300px; /* Širina kartice */
    padding: 16px; /* Unutrašnji razmak */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    background-color: #ffffff;
    border: 3px solid #34AB45; /* Zeleni okvir sa debljinom 3px */
    transition: transform 0.3s ease-in-out;
    height: auto; /* Visina kartice se automatski prilagođava sadržaju */
  }
  
  .card-content {
    margin: 10px;
    text-align: left; /* Tekst poravnat na levo */
    width: 100%; /* Puni širinu kartice */
  }
  
  .card-content h3 {
    margin: 0;
    font-size: 20px;  /* Povećaj veličinu naslova po potrebi */
    font-weight: bold;  /* Debeli tekst */
  }
  
  .card-content p {
    margin: 8px 0;
    color: #666;
  }
  
  .card-actions {
    display: flex;
    justify-content: center; /* Ikonice centrirane */
    gap: 4px; /* Smanjenje razmaka između ikonica */
    margin-top: 8px; /* Smanjenje razmaka između teksta i dugmadi */
    width: 100%; /* Osigurava da dugmadi popunjavaju širinu kartice */
    justify-content: center; /* Centriranje dugmadi */
}
  

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid #2ecc71; /* Promeni boju okvira na svetliju zelenu pri hover-u */
  }

.map-container {
    width: 300px; 
    height: 300px; 
    border-radius: 5px;
    background-color: #e0e0e0; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Ista širina kao ostale kartice */
    height: auto; /* Automatska visina kao kod ostalih kartica, možete postaviti konkretno ako želite */
    border: 2px dashed #ddd; /* Zeleni okvir kao kod ostalih kartica */
    color: #aaa;
    text-align: center;
}
  

