<div class="row">
    <button mat-raised-button class="button-dodaj" (click)="navigateToAddEncounter()">Add new encounter</button>
    <div *ngFor="let encounter of encounters" class="col-lg-12 mb-4">
      <div class="card encounter-card">
        <div class="card-body d-flex flex-row">
          <div class="encounter-details">
            <h5 class="card-title encounter-name">{{ encounter.name }}</h5>
            <p class="card-text encounter-description">{{ encounter.description }}</p>
            <p><strong>Type:</strong> 
              {{ encounter.type === 0 ? 'Social' : encounter.type === 1 ? 'Location' : 'Misc' }}
            </p>
            <p><strong>Status:</strong> 
              {{ encounter.status === 0 ? 'Draft' : encounter.status === 1 ? 'Active' : 'Archived' }}
            </p>
            <p><strong>XP:</strong> {{ encounter.xp }}</p>
          </div>
  
         
          <div class="map-container" *ngIf="encounter.coordinates" id="map{{ encounter.id }}"></div>
        </div>
  
       
        <div *ngIf="isAdmin(encounter.administratorId)" class="button-container">
          <button (click)="editEncounter(encounter)" class="btn btn-edit">Edit</button>
          <button (click)="deleteEncounter(encounter)" class="btn btn-delete">Delete</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Dugme za dodavanje Encounter-a -->
  
  