.encounter-card {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--secondary-color); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    background-color: #f9f6f1; 
    transition: transform 0.3s ease;
    margin-bottom: 15px;
    max-height: 250px; 
    height: auto;
    font-family: "Helvetica Neue", sans-serif;
}

.encounter-card:hover {
    transform: translateY(-5px);
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
}

.encounter-details {
    width: 30%; 
}

.map-container {
    width: 60%; 
    height: 150px; 
    border-radius: 5px;
    background-color: #e0e0e0; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.encounter-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--secondary-color); 
    margin-bottom: 10px;
    font-family: "Helvetica Neue", sans-serif;
}

.encounter-description {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}

p strong {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    color: var(--secondary-color); 
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px; 
    font-family: "Helvetica Neue", sans-serif;
}

.btn-edit,
.btn-delete {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--secondary-color);
    padding: 8px 16px;
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "Helvetica Neue", sans-serif;
}

.btn-edit:hover,
.btn-delete:hover {
    background-color: var(--secondary-color);
    color: white;
}

.button-dodaj {
    background-color: var(--secondary-color); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-family: "Helvetica Neue", sans-serif;
}

.button-dodaj:hover {
    background-color: var(--secondary-color);
}
